<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% feed_meta %}

  <!-- temporary fix -->
  <style>
  /*a {
    font-weight: bold;
    color: #9cfb8e;
  }
  pre {
    background-color: #1f2b47;
    border-color: #1f2b47;
  }
  
  code {
    background-color: black;
  }*/
  img {
    max-width: 90%;
    display: block;
  }
  </style>
</head> 
