<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    <aside id = "menu" class = "navbar">
    {% assign sorted_posts = (site.posts | sort: 'title') %}
    <ul class = "contentList">
    {% for post in sorted_posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}    </a>
        </li>
    {% endfor %}
    </ul>
    </aside>
    <main id = "panel" class="main" aria-label="Content">
      <div class = "buttonContainer">
        <img id = "menuButton" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACWSURBVHhe7doxDcNAEETRKwMghesoAALANEzBnMIpnOLV1Vf7RvZ70q+2nHYbAAAAAAAAnO2lmB5V+yumtRoeNCeDhNUH+SmmTwUAAAAAAAAAAADXtiumpRr+mGpOnq3DMkhYfZCvYnpXAAAAAAAAAAAAcG2jDzrNqX8ujn5MNSfP1mEZJKw+yKaYnhUAAAAAAABwU60d7tGVO6QEH6gAAAAASUVORK5CYII=" / >
      </div>
      <div id = "mainContent">
	    </div>
    </main>

  </body>


</html>
