<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    <aside id = "menu" class = "navbar">
    
    <ul class = "contentList">
     <li class = "category eachRow">Development</li>
      {% assign sortedPostsDevelopment = site.categories.development | sort: 'title' %}
      {% for post in sortedPostsDevelopment %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Employment</li>
     {% assign sortedPostsEmployment = site.categories.employment | sort: 'title' %}
      {% for post in sortedPostsEmployment %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">General</li>
     {% assign sortedPostsGeneral = site.categories.general | sort: 'title' %}
      {% for post in sortedPostsGeneral %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Hacking</li>
     {% assign sortedPostsHacking = site.categories.hacking | sort: 'title' %}
      {% for post in sortedPostsHacking %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Knowledge</li>
     {% assign sortedPostsKnowledge = site.categories.knowledge | sort: 'title' %}
      {% for post in sortedPostsKnowledge %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Linux</li>
     {% assign sortedPostsLinux = site.categories.linux | sort: 'title' %}
      {% for post in sortedPostsLinux %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Network</li>
     {% assign sortedPostsNetwork = site.categories.network | sort: 'title' %}
      {% for post in sortedPostsNetwork %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Windows</li>
     {% assign sortedPostsWindows = site.categories.windows | sort: 'title' %}
      {% for post in sortedPostsWindows %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
     {% endfor %}
     <li class = "category eachRow">Works</li>
     {% assign sortedPostsWorks = site.categories.works | sort: 'title' %}
      {% for post in sortedPostsWorks %}
     <li class = "eachRow">
            <a class = "eachRowLink" href="{{ post.url }}">{{ post.title }}</a>
     </li>
      {% endfor %}
    </ul>
    
    </aside>
    <main id = "panel" class="main" aria-label="Content">
      <div class = "buttonContainer">
        <img id = "menuButton" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACWSURBVHhe7doxDcNAEETRKwMghesoAALANEzBnMIpnOLV1Vf7RvZ70q+2nHYbAAAAAAAAnO2lmB5V+yumtRoeNCeDhNUH+SmmTwUAAAAAAAAAAADXtiumpRr+mGpOnq3DMkhYfZCvYnpXAAAAAAAAAAAAcG2jDzrNqX8ujn5MNSfP1mEZJKw+yKaYnhUAAAAAAABwU60d7tGVO6QEH6gAAAAASUVORK5CYII=" / >
      </div>
      <div id = "mainContent">
        <h1>{{ page.title }}</h1>
        <div>
        {{ content }}
	      </div>
	    </div>
	    {% if page.comments %}
	    <div id="disqus_thread" style = "padding: 0 0 0 2%;"></div>
       <script>
        
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{page.id}}" // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://9oelm-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    {% endif %}
    </main>

  </body>

</html>
